@font-face{
    font-family: "Gotham-Ultraltalic";
    src: url('../fonts/Gotham-Ultraltalic.otf');
}
@font-face{
    font-family: "Gotham-Medium";
    src: url('../fonts/GothamMedium.ttf');
}
@font-face{
    font-family: "Gotham-Thin";
    src: url('../fonts/Gotham-Thin.otf');
}
